@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
  text-decoration: #ffffff;
}
a:hover {
  color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
footer {
  background-color: #222222;
}
footer .social {
  text-align: center;
}
footer .social-decription {
  margin: auto;
  max-width: 770px;
  min-height: 42px;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins-Regular";
}
footer .social-icon {
  color: #777777;
  display: inline-block;
}
footer .social-icon > a {
  margin: 0 23px;
  font-size: 16px;
  padding: 15px 0;
  color: #777777;
  font-weight: 400;
}
footer .about-us {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
footer .about-us-col {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
footer .about-us-col .about-us-title {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins-Bold";
}
footer .about-us-col .about-us-dec {
  font-size: 14px;
  line-height: 40px;
  color: #777777;
  font-weight: 400;
}
footer .about-us-col .about-us-dec > a {
  font-size: 14px;
  line-height: 40px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins-Regular";
}
footer .about-us .contact-us .about-us-dec > a {
  margin-left: 16px;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 18px 0;
}
.header .mobile-menu-bar {
  display: none;
}
.header-inner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.header-inner .menu-bar {
  padding: 15px 0;
}
.header-inner .menu-bar > li {
  display: inline-block;
  margin-right: 34px;
  margin-left: 14px;
  align-items: center;
}
.header-inner .menu-bar > li > a {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins-Regular";
  text-align: center;
}
.header-inner .menu-bar-right {
  color: #777777;
  font-size: 16px;
  padding: 18px 0;
}
.header-inner .menu-bar-right > li {
  display: inline-block;
  margin-left: 22px;
}
.header-inner .menu-bar-right > li > a {
  color: #ffffff;
  font-weight: 400;
}
.category-product-inner {
  display: flex;
  flex-flow: row;
  margin-top: -85px;
  box-shadow: 0px 0px 6px #000000;
  width: 100%;
}
.category-product-inner .category {
  z-index: 2;
  width: 33.3333%;
  display: flex;
  flex-flow: column;
}
.category-product-inner .category-img {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 390/250;
}
.category-product-inner .category-img img {
  width: 100%;
}
.category-product-inner .category-banner {
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  aspect-ratio: 390/250;
  width: 100%;
}
.category-product-inner .category-banner img {
  margin-top: 7%;
  height: 70px;
}
.category-product-inner .category-banner-content {
  margin-top: 5%;
  padding: 0 52px;
}
.category-product-inner .category-banner-content-title {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  font-family: "Poppins-Bold";
}
.category-product-inner .category-banner-content-decription {
  margin-top: 5%;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins-Regular";
}
.product-list-inner {
  width: 100%;
  border: none;
}
.product-list-inner .tabs-selection {
  width: 100%;
  background-color: #ffffff;
  border: none;
}
.product-list-inner .tabs-selection .selection-btn {
  border: none;
  background-color: #ffffff;
}
.product-list-inner .tabs-selection .selection-btn a {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  font-family: "Poppins-Bold";
}
.product-list-inner .tabs-selection .selection-btn :hover {
  background-color: #ffffff;
}
.product-list-inner .tabs-selection .ui-state-active,
.product-list-inner .tabs-selection .ui-tabs-active {
  background-color: #ffffff;
  border-bottom: #dd2f31 3px solid;
}
.product-list-inner .tabs-selection .ui-state-active a,
.product-list-inner .tabs-selection .ui-tabs-active a {
  color: #dd2f31;
}
.product-list-inner .product-show {
  width: 100%;
}
.product-list-inner .product-show .tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: space-between;
}
.product-list-inner .product-show .tabs .product {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
.product-list-inner .product-show .tabs .product-inner {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.product-list-inner .product-show .tabs .product-inner img {
  text-align: center;
  width: 100%;
}
.product-list-inner .product-show .tabs .product-inner .product-btn-list {
  display: none;
}
.product-list-inner .product-show .tabs .product-inner:hover {
  box-shadow: 0px 0px 6px #000000;
}
.product-list-inner .product-show .tabs .product-inner:hover .product-btn-list {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow: column;
  top: 5px;
  left: 80%;
}
.product-list-inner .product-show .tabs .product-inner:hover .product-btn-list .product-btn {
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 15px;
  text-align: center;
  padding: 5px 5px;
  color: #777777;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-radius: 15% 0 15% 0;
  border-color: #dddddd;
}
.product-list-inner .product-show .tabs .product-inner:hover .product-btn-list .product-btn:hover {
  color: #ffffff;
  background-color: #dd2f31;
  border-color: #dd2f31;
}
.product-list-inner .product-show .tabs .product-inner .product-title {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Poppins-Regular";
}
.product-list-inner .product-show .tabs .product-inner .price {
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Poppins-Bold";
}
.product-list .ui-widget.ui-widget-content {
  border: none;
}
.ui-tabs {
  padding: 0;
}
.ui-tabs .ui-tabs-panel {
  padding: 0 0;
}
.prize-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: space-between;
}
.prize-list .prize {
  width: 16.6666%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  text-align: center;
}
.copy-right {
  text-align: center;
  background-color: black;
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins-Regular";
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider img {
  z-index: 1;
  width: 100%;
  min-height: 950px;
  object-fit: cover;
  object-position: center;
}
.slider .slider-content-wrap {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 0;
  right: 0;
}
.slider .slider-content-wrap .slider-content .title {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins-Bold";
}
.slider .slider-content-wrap .slider-content .title2 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins-Bold";
}
.slider .slider-content-wrap .slider-content .decription {
  max-width: 532px;
  max-height: 60px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins-Regular";
}
.slider .slider-content-wrap .slider-content .shop-btn {
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins-Regular";
  text-align: center;
  padding: 12px 45px;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-color: #ffffff;
}
.customer-feedback {
  text-align: center;
}
.customer-feedback .feedback-title {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "Poppins-Bold";
  height: auto;
}
.customer-feedback .feedback-slider-list .feedback-slider img {
  height: 80px;
  width: 80px;
  border-radius: 50% 50% 50% 50%;
  margin: auto;
}
.customer-feedback .feedback-slider-list .feedback-slider .feedback-content {
  max-width: 771px;
  min-height: 45px;
  font-size: 18px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins-Regular";
  margin: auto;
}
.customer-feedback .feedback-slider-list .feedback-slider .customer-name {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "Poppins-Bold";
}
.customer-feedback .feedback-slider-list .feedback-slider .emotion {
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins-regular";
}
.slick-dots li {
  margin: 3px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #dd2f31;
}
.slick-dots li button {
  width: 20px;
  height: 20px;
}
.slick-dots li button:before {
  font-size: 12px;
  color: #dd2f31;
}
@media all and (max-width: 1170px) {
  .header {
    padding: 0 0;
  }
  .header-inner {
    padding: 0 0;
  }
  .header-inner .mobile-menu-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins-Regular";
  }
  .header-inner .mobile-menu-bar .menu-icon {
    font-size: 30px;
    padding: 14px 0;
  }
  .header-inner .mobile-menu-bar .dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
  }
  .header-inner .mobile-menu-bar .dropdown-content > li {
    padding: 5px 5px;
  }
  .header-inner .mobile-menu-bar:hover .dropdown-content {
    display: block;
  }
  .header-inner .menu-bar-right {
    padding: 19.8px 0;
  }
  .header-inner .menu-bar-right > li {
    display: inline-block;
    margin-left: 25px;
  }
  .header-inner .menu-bar {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .category-product-inner {
    flex-flow: column;
  }
  .category-product-inner .category {
    width: 100%;
    flex-flow: row;
  }
  .category-product-inner .category-img {
    width: 50%;
    aspect-ratio: 390/250;
  }
  .category-product-inner .category-banner {
    width: 50%;
    aspect-ratio: 390/250;
  }
  .product-list-inner .product-show .tabs .product {
    width: 50%;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list {
    top: 10px;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list .product-btn {
    font-size: 26px;
    margin-top: 20px;
    padding: 10px 10px;
  }
  .prize-list .prize {
    width: 33.3333%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 15px 0;
  }
  footer .about-us {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  footer .about-us-col {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 15px 0;
  }
}
@media all and (max-width: 768px) {
  .category-product-inner {
    flex-flow: column;
  }
  .category-product-inner .category {
    flex-flow: column;
  }
  .category-product-inner .category-img {
    width: 100%;
    aspect-ratio: 390/250;
  }
  .category-product-inner .category-banner {
    width: 100%;
    aspect-ratio: 390/250;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list {
    top: 5px;
    left: 85%;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list .product-btn {
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 5px;
  }
}
@media all and (max-width: 576px) {
  .header-inner .menu-bar-right {
    padding: 19.8px 0;
  }
  .header-inner .menu-bar-right > li {
    margin-left: 0;
  }
  .category-product .product-banner img {
    width: 35px;
    height: 27px;
  }
  .category-product .product-banner-content {
    margin-top: 5%;
    padding: 0 26px;
  }
  .category-product .product-banner-content-title {
    font-size: 14px;
  }
  .category-product .product-banner-content-decription {
    font-size: 12px;
  }
  .product-list-inner .product-show .tabs .product {
    width: 100%;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list {
    left: 80%;
    top: 10px;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list .product-btn {
    font-size: 26px;
    margin-top: 20px;
    padding: 10px 10px;
  }
  .prize-list .prize {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 15px 0;
  }
  footer .about-us {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  footer .about-us-col {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 15px 0;
  }
}
@media all and (max-width: 375px) {
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list {
    left: 80%;
    top: 5px;
  }
  .product-list-inner .product-show .tabs .product-inner:hover .product-btn-list .product-btn {
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 5px;
  }
}
/*# sourceMappingURL=styles.css.map */