.header {
    width: 100%;
    position: fixed;
    background-color: @bg-color;
    padding: 21px 0;
    .mobile-menu-bar {
        display: none;
    }
    &-inner {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        .menu-bar {
            padding: 15px 0;
            &> li {
                display: inline-block;
                
                margin-left: 26px;
                margin-right: 26px;
                align-items: center;
                &> a {
                    font-size: 16px;
                    line-height: 28px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Poppins";
                    text-align: center;
                }
            }
        }
        .menu-bar-right {
            color: #777777;
            font-size: 16px;
            padding: 15px 0;
            &> li {
                display: inline-block;
                
                margin-left: 25px;
                &> a {
                    
                    color: #ffffff;
                    font-weight: 400;
                }
        
            } 
            
        }
        
    }

    
}
